[user]
  name = Bekt
  email = bekt17@gmail.com
  signingkey = 78594CAD2BDFCE22

[alias]
  aa = add --all
  cm = "!f() { git commit -m \"$1\"; }; f"
  cmend = commit --amend --no-edit
  graph = log --graph --decorate --pretty=oneline --abbrev-commit
  rollback = reset --soft HEAD^
  lg = log --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %C(bold blue)<%an>%Creset %Cgreen(%cr) \n%s\n' --abbrev-commit --date=relative
  co = checkout
  st = status
  sync = pull --rebase
  ayy = "!f() { git aa; git cmend; git push -f; }; f"
  yolo = "!f() { git aa; git cm '#fuckitshipit'; git push -f; }; f"

[push]
  default = tracking

[commit]
  gpgsign = true
